@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GeistVF', Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 640px) {
  .contact-links {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
